:root {
  //layout
  --padding: clamp(2rem, 4vw, 2rem);

  //colors
  --bg: rgb(49, 49, 49);

  --primaryColor: #00b1b1;
  --secondaryColor: #00dfdf;
  --cyan: #99ffff;
  --coral: #ff7746;
  --textColorHeading: #ddd;
  --inputContainerBG: #fff8;

  --nerdFont: "Cutive Mono", monospace;
}
